* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    background-color: #F9FAFB;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #F9FAFB;
    overflow: hidden;
    display: flex;
}

.menu {
    background-color: #FFFFFF;
    width: 24%;
    height: 100%;
    border-right: 1px solid gray;
    min-width: 312px;
    position: relative;
}





.close {
    position: absolute;
    bottom: 50px;
    right:  50%;
    transform: translateX(50%);
    padding: 10px 120px;
    border: 1px solid #FDA29B;
    border-radius: 8px;
    color: #D92D20;
    font-weight: 600;
}

.profile {
    padding-top: 32px;
    padding-left: 28px;
    display: flex;
    flex-direction: column;

}

.profile .name{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    width: 100%;
}

.profile .email {
    color: #667085;
    font-size: 14px;
}

.items {
    padding-left: 28px;
    margin-top: 32px;
    margin-right: 16px;
    border-radius: 6px;
}

.item {
    display: flex;
    /*margin-top: 24px;*/
    align-items: center;
    align-content: center;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;

}

.item:hover {
    background-color: #F9F5FF;
}

.item.active {
    background-color: #F9F5FF;
}

.item.active a {
    color: #6941C6;
}

.item img {
    width: 24px;
    /*height: 24px;*/
}

.item a {
    color: #344054;
    font-weight: 500;
    font-size: 16px;
    padding-left: 12px;

}

.page {
    width: 100%;
    margin-left: 50px;
    overflow-y: scroll;
}

.page h2 {
    margin-top: 42px;


    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #101828;
}

.page h4 {
    margin-top: 8px;
    color: #667085;

    font-weight: 400;
    font-size: 16px;

}

.bg {
    width: 90%;
    height: 204px;
    margin-top: 24px;
    padding: 24px 34px;
    background: url("./icons/BG.png");

    background-repeat: space;
    min-width: 1000px;
    display: flex;
    align-items: start;
    align-content: start;
}

.bg span {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-left: 30px;
}

.blocks {
    padding-bottom: 40px;
}

.block {
    background-color: #FFFFFF;
    width: 768px;
    min-height: 133px;
    margin-top: 24px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.block > span {
    width: 720px;
    font-weight: 500;
    font-size: 18px;
    padding: 24px;
    display: inline-block;
}

.block input[type=text] {
    width: 720px;
    margin-left: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #EAECF0;
}

.block input[type=date] {
    width: 720px;
    margin-left: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #EAECF0;
}

.block input[type=text]:focus {
    border: none;
    outline: none;
}

.block input[type=radio] {
    width: 32px;
    height: 32px;
}

.block input[type=radio]:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: 6px;
    left: 6px;
    position: relative;
    background-color: #7F56D9;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}



.radios {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    padding-bottom: 15px;
}

.radios p {
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.checkboxs {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.checkboxs label {
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #344054;
    display: flex;
    align-items: center;
}

.checkboxs input {
    padding: 12px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

.checkboxs input:checked:after {
    width: 20px;
    height: 20px;
    /*border-radius: 15px;*/
    top: 4px;
    left: 4px;
    position: relative;
    background-color: #7F56D9;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.calendar {
    display: flex;
    height: 80%;
    margin-top: 32px;
    padding-bottom: 30px;
    /*overflow-x: scroll;*/
    min-width: 1750px;
}

.calendar .day {
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
}

.day:hover {
    background-color: gray;
}




.task {
    cursor: pointer;
    position: absolute;
    width: 516px;
    height: 107px;
    left: 20px;
    top: 240px;
    display: flex;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    z-index: 1;
}

.task.red {
    background: #FEE4E2;
    top: 420px;
}

.task .status {
    background: #F9F5FF;
    color: #6941C6;
}

.task.red .status {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #F37067;
}

.task.green {
    background: #E9FFF3;
    top: 90px;
}

.task .status {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #F9F5FF;
    border-radius: 16px;
    align-items: center;
    padding: 2px 8px 2px 6px;
    color: #12B76A;
}

.task > span {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.task > span h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.task > span p {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    /* Gray/500 */
    color: #667085;
}

.task > span > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-top: 16px;

    color: rgba(0, 0, 0, 0.35);
}

.task .l {
    height: 107px;
    width: 10px;
    background: #7F56D9;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.day .border {
    margin-top: 20px;
    border: 1px solid #C6CBD3;
    height: 100%;
    border-bottom: none;
}

.day > .left {
    position: absolute;
    top: 35px;
    border: 1px solid #C6CBD3;
    width: 98px;
    height: 80%;
    border-top: none;
    border-bottom: none;
}

.day.active span {
    color: #5390EB;
    font-weight: 600;
}

.day.active strong {
    color: #5390EB;
    font-weight: 600;
}

.quests {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 30px;
}

.quest {
    padding: 24px 24px 32px;
    border-radius: 30px;
    width: 409px;
    height: 267px;
    position: relative;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-right: 30px;
    min-height: 267px;
    margin-bottom: 30px;
    border: 1px solid #FFFFFF;
}

.quest:hover {
    border: 1px solid;
}

.quest.green {
    background: #E9FFF3;
}

.quest.red {
    background-color: #FEF3F2;
}

.quest.red h4 {
    color: #F04438;
}

.quest h4 {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #6941C6;
    margin-bottom: 24px;
}

.quest h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.quest p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 361px;
    color: #667085;
    margin-bottom: 32px;
}

.quest .who {
    display: flex;
}

.who img {
    width: 40px;
    height: 40px;
}

.who p {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.who p strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/900 */

    color: #101828;
}

.quest .wrap {
    position: absolute;
    right: 20px;
}

.generate {
    margin-left: 32px;
}

.generate > h4 {

    margin-top: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7F56D9;;
}

.generate h2 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

.generate > span {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
}

.search {
    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    width: 100%;
    /*height: 44px;*/
    padding: 10px;
    padding-left: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/500 */

    color: #667085;
}

.search-block {
    margin-top: 40px;
    position: relative;
}

.search-block img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.generate > .blocks {
    display: flex;
    flex-wrap: wrap;
}

.generate {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.generate.full {
    width: 100%;
}

.generate .block {
    padding: 24px;
    gap: 24px;

    width: 250px;
    height: 150px;


    border-radius: 8px;
    margin-right: 20px;

    cursor: pointer;
}

.generate .block:hover {
    background: #dbd9d9;
}

.generate .block h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #42307D;
}

.generate .block p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #6941C6;
}

.generate > img {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}

.buttons {
    display: flex;
}

.generate  button {
    width: 160px;
    height: 40px;

    /* Primary/600 */
    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;


    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    margin-right: 16px;

    /* Gray/700 */

    color: #344054;


    /* White */
    cursor: pointer;

}

.generate button:hover {
    background: #b0e2b0;
}

.generate button.active {
    background: #7F56D9;
    /* Primary/600 */
    color: #FFFFFF;
    border: 1px solid #7F56D9;
}

.generate button.active:hover {
    background: #9572e2;
}

.page > img {
    max-width: 90%;
    /*max-height: 100%;*/
}

.constacts {
    background: #FFFFFF;
    /* Gray/200 */

    border: 1px solid #EAECF0;
    /* Shadow/sm */
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    height: 827px;
    margin-top: 48px;
}




.header input {
    width: 40px;
    height: 24px;
}


.contact {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #EAECF0;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}


.contact span strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray/900 */

    color: #101828;
}

.contact > span {
    display: flex;
    flex-direction: column;
}

.inputs {
    height: 90%;
}