* {
    padding: 0;
    margin: 0;
}

body {
    /*background-color: rgba(101, 132, 174, 0.9);*/
    background: url("https://krot.info/uploads/posts/2021-12/1638368320_54-krot-info-p-velikii-melburn-dostoprimechatelnosti-kras-59.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    border-radius: 25px;
    transform: translateY(-50%);
    background-color: rgba(130, 148, 168, 0.95);
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.left {
    height: 100%;
    width: 30%;
}
.left button {
    margin-top: 20px;
    width: 236px;
    height: 36px;
    background-color: #eae6e6;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    cursor: pointer;
}
.left button:hover {
    background-color: #c3c0c0;
}

.elements {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
    height: 90%;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.elements span {
    background-color: #95a1b3;
    color: white;
    border-radius: 10px;
    margin-top: 1px;
    padding: 10px 5px;
    padding-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

.elements span.active {
    background-color: #8ca5cb;
    font-weight: 600;
    display: flex;
    /*align-items: flex-start;*/
    /*align-content: flex-start;*/
    justify-content: space-between;
}

d {
    width: 20px;
}

.elements span:hover {
    background-color: #8297b7;
}

.right {
    width: 69%;
    height: 100%;
    background-color: #ebeef2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.mail {
    width: 97.5%;
    height: 30px;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    padding: 10px;

    background-color: white;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;

}

.mail:hover {
    background-color: #e9e7e7;
}

.mail.old .text b {
    color: gray;
}

.checkbox {
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

.checkbox input {
    padding: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: #1286ea;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 20px;
    font-size: 12px;

    display: flex;
    align-content: center;
    align-items: center;
}

.avatar.red {
    background-color: indianred;
}

.avatar.blue {
    background-color: cornflowerblue;
}

.avatar span {
    position: relative;
    color: #fff;
    font-weight: 600;
    /*left: 50%;*/
    /*top: 50%;*/
    width: 60px;
    text-align: center;
}

.avatar.yellow {
    background-color: yellow;
}

.avatar.yellow span {
    color: #000;
}

.spam {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: red;
    font-size: 12px;
    padding: 1px;
    color: #fff;
}

.full {
    min-height: 200px;
    padding: 30px;
    display: none;
}

.full.show {
    display: block;
}

.name {
    margin-left: 10px;
    line-height: 30px;
    width: 145px;
}

.text {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.text span {
    color: gray;
}

.date {
    position: absolute;
    right: 10px;
    line-height: 30px;
}


@media only screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .text {
        overflow: hidden;
    }

    .name > span {
        overflow-wrap: break-word;
    }
    .mail {
        height: 37px;
    }

    .name {
        overflow: hidden;
        width: 344px;
        line-height: 20px;
    }

    .spam {
        display: none;
    }

    .date {
        display: none;
    }
}